<sergey-import src="head">
  <title>Sergey example website (template page)</title>
  </sergey-import>
<sergey-import src="master">

  
<sergey-import src="info">
  <p>
    This is template-driven page located at: <code>/template/index.html</code>,
    using <code>/_imports/template.html</code>
  </p>
  <div class="prose">
    <sergey-import src="test" as="markdown" />
  </div>

  <p>
    Templates work in the same way as any other
    <code>&lt;sergey-import /&gt;</code>
  </p>
  </sergey-import>

</sergey-import>